In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
df.shape

(11914, 16)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [6]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [7]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [8]:
df['Engine HP'].fillna(value=df['Engine HP'].mean(), inplace=True)
df['Engine Cylinders'].fillna(value=df['Engine Cylinders'].mean(), inplace=True)
df['Number of Doors'].fillna(value=df['Number of Doors'].mean(), inplace=True)
df.drop(['Market Category','Engine Fuel Type','Driven_Wheels','Transmission Type','Vehicle Size','Vehicle Style','Make','Model'],axis=1,inplace=True)

In [9]:
df.isna().sum()

Year                0
Engine HP           0
Engine Cylinders    0
Number of Doors     0
highway MPG         0
city mpg            0
Popularity          0
MSRP                0
dtype: int64

In [10]:
df.head()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
0,2011,335.0,6.0,2.0,26,19,3916,46135
1,2011,300.0,6.0,2.0,28,19,3916,40650
2,2011,300.0,6.0,2.0,28,20,3916,36350
3,2011,230.0,6.0,2.0,28,18,3916,29450
4,2011,230.0,6.0,2.0,28,18,3916,34500

In [11]:
X=df.drop('MSRP',axis=1)

In [12]:
X

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity
0,2011,335.0,6.0,2.0,26,19,3916
1,2011,300.0,6.0,2.0,28,19,3916
2,2011,300.0,6.0,2.0,28,20,3916
3,2011,230.0,6.0,2.0,28,18,3916
4,2011,230.0,6.0,2.0,28,18,3916
...,...,...,...,...,...,...,...
11909,2012,300.0,6.0,4.0,23,16,204
11910,2012,300.0,6.0,4.0,23,16,204
11911,2012,300.0,6.0,4.0,23,16,204
11912,2013,300.0,6.0,4.0,23,16,204
11913,2006,221.0,6.0,4.0,26,17,61

In [13]:
y=df['MSRP']

In [14]:
y

0        46135
1        40650
2        36350
3        29450
4        34500
         ...
11909    46120
11910    56670
11911    50620
11912    50920
11913    28995
Name: MSRP, Length: 11914, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [16]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [17]:
y_pred = regressor.predict(X_test)

In [18]:
print(y_test,y_pred )

3626      41295
4697      31215
5687      51280
4760      32300
7445       2000
          ...
3227      49750
2887     280400
6848      48950
5586      52375
10131     16799
Name: MSRP, Length: 3575, dtype: int64 [42390.         25590.         62980.         ... 39431.66666667
 66805.         17774.        ]

In [19]:
from math import sqrt
from sklearn.metrics import mean_squared_error
rmse = sqrt(mean_squared_error(y_test,y_pred))
rmse

22582.263462184666

In [20]:
from sklearn.ensemble import RandomForestRegressor

In [21]:
rf = RandomForestRegressor(n_estimators=200)
rf.fit(X_train, y_train)
y_p = rf.predict(X_test)

In [22]:
print(y_test,y_p)

3626      41295
4697      31215
5687      51280
4760      32300
7445       2000
          ...
3227      49750
2887     280400
6848      48950
5586      52375
10131     16799
Name: MSRP, Length: 3575, dtype: int64 [40573.98958333 26712.86833333 60562.79375    ... 39436.54458333
 55663.545      17779.40916667]

In [23]:
rmse = sqrt(mean_squared_error(y_test,y_p))
rmse

21786.95000545473

In [24]:
pwd

'/home/aamruth/Downloads'